*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding-left: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  // background-color: #65e5ee;
  background: linear-gradient(to right, #4f1e51, #ee8e65);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
}

.input__wrap {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.search-form input {
  border-style: none;
  align-content: center;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  padding: 10px;

  font-size: 16px;

  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;


    &::placeholder {
    font-size: 16px;
    color: #cccccc;
  }
}


.search-form input :focus {
  outline: #4f1e51;
}

.btn-search {
  
    width: 100px;
    height: 40px;
  
    font-size: 16px;
    font-weight: 500;
  
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-family: inherit;
  
    cursor: pointer;
    transition: background-color 300ms linear, color 300ms linear;
  
    &:hover,
    &:focus {
      background-color: #4f1e51;
      color: #ffffff;
    }
  }

  
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;  
}

.photo-card {
  margin: 10px;
  width: 300px;
}

.info-item {
  margin-bottom: 3px;
}

.photo-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 2px 6px rgb(0 0 0 / 80%);
  margin-bottom: 10px;
  transition-duration: 1000ms;
}

.photo-card img:hover {
  transform: scale(1.3);
  transition-duration: 1000ms;
}

.btn-wriper {
  display: flex;
  justify-content: center;
}

.load-more {
  width: 100px;
  height: 40px;  
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color:#ee8e65;
  border-color: transparent;
  border-radius: 4px;
  color: #272b45;
  transition-duration: 800ms;
}

.load-more:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  background-color: #4f1e51;
  color: #ffffff;
  font-weight: 500;
  transition-duration: 800ms;
}

.is-hidden {
  display: none;
}